APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DATABASE_URL=pgsql://postgres@127.0.0.1:5432/laravel
REDIS_URL=redis://127.0.0.1:6379

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=

VITE_APP_NAME="${APP_NAME}"
